<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Happy birthday - {{name}}</title>
  </head>
  <body>
    <h1>happy birthday {{name}}!</h1>
    <p>congratulations on your big day. We are delighted to have you!</p>
    <p>Best Regards</p>
    <p>{{from}}</p>
  </body>
</html>